# Docker Registry Configuration
DOCKER_USER=gatechain
REGISTRY=ghcr.io/
TAG=latest
DOCKER_PLATFORM=

# L1 Configuration
L1_RPC_URL=https://evm.nodeinfo.cc
L1_BEACON_URL=https://api.nodeinfo.cc

# Sequencer Configuration
SEQUENCER_HTTP_URL=https://gatelayer-seq-mainnet.gatenode.cc

# Workspace Configuration
GATELAYER_WORKSPACE=/tmp/gatelayer

# Chain Configuration
L2_CHAIN_ID=10088
